.animated-header {
	min-height: 100px;
	background: linear-gradient(
		90deg,
		rgb(43, 43, 43) 0%,
		rgb(87, 86, 86) 25%,
		rgb(97, 97, 97) 50%,
		rgb(87, 86, 86) 75%,
		rgb(43, 43, 43) 100%
	);
	mix-blend-mode: exclusion;
	background-size: 400% 200px;
	background-repeat: no-repeat;
	opacity: 0.5;
	filter: blur(70px);
	animation: gradientAnimation 10s ease-in-out infinite;
}
.animated-header {
	pointer-events: none;
	position: absolute;
	inset: 0;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}
